<app-header></app-header>

 <main class="main">


       <!-- hero slider -->
       <div class="hero-section hero-slider owl-carousel owl-theme">
         <div class="hero-single hero-single-ani" style="background-image: url(assets/img/slider/slider-3.jpg)">
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-md-7 col-lg-7">
                       <div class="hero-content">
                           <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                               data-wow-duration="1s" data-wow-delay=".25s">MOVING CHEESE REMOVAL</h6>
                           <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                               data-wow-delay=".50s">
                               The Leading Removal Service In The UK
                           </h1>
                           <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                               data-wow-delay=".75s">
                               Experience seamless and stress-free moves with UK most trusted removal service. Reliable, efficient, and tailored to your needs!
                           </p>
                           <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                           data-wow-delay="1s">
                           <a href="quote" class="theme-btn">Start Move<i
                                   class="far fa-arrow-right"></i></a>
                           <a href="about" class="theme-btn theme-btn2">About Us<i
                                   class="far fa-arrow-right"></i></a>
                           </div>
                       </div>
                   </div>
               </div>
           </div>
         </div>

         <div class="hero-single hero-single-ani" style="background-image: url(assets/img/slider/slider-2.jpg)">
           <div class="container">
               <div class="row align-items-center">
                   <div class="col-md-7 col-lg-7">
                     <div class="hero-content">
                         <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                             data-wow-duration="1s" data-wow-delay=".25s">MOVING CHEESE REMOVAL</h6>
                         <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                             data-wow-delay=".50s">
                             Moving For Every Customer With Care
                         </h1>
                         <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                             data-wow-delay=".75s">
                             We are reliable, respectful and responsible, and have the expertise to handle valued belongings carefully – ensuring they arrive at your destination in optimum condition.
                         </p>
                         <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                             data-wow-delay="1s">
                             <a href="quote" class="theme-btn">Start Move<i
                                     class="far fa-arrow-right"></i></a>
                             <a href="about" class="theme-btn theme-btn2">About Us<i
                                     class="far fa-arrow-right"></i></a>
                         </div>
                     </div>
                   </div>
               </div>
           </div>
         </div>

         <div class="hero-single hero-single-ani" style="background-image: url(assets/img/slider/slider-1.jpg)">
             <div class="container">
                 <div class="row align-items-center">
                     <div class="col-md-7 col-lg-7">
                         <div class="hero-content">
                             <h6 class="hero-sub-title wow animate__animated animate__fadeInUp"
                                 data-wow-duration="1s" data-wow-delay=".25s">MOVING CHEESE REMOVAL</h6>
                             <h1 class="hero-title wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay=".50s">
                                 Enjoy Effortless Packing and Unpacking
                             </h1>
                             <p class="wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay=".75s">
                                 Let us handle the heavy lifting! Experience stress-free packing and unpacking services tailored to make your move seamless and hassle-free.
                             </p>
                             <div class="hero-btn wow animate__animated animate__fadeInUp" data-wow-duration="1s"
                                 data-wow-delay="1s">
                                 <a href="quote" class="theme-btn">Start Move<i
                                         class="far fa-arrow-right"></i></a>
                                 <a href="about" class="theme-btn theme-btn2">About Us<i
                                         class="far fa-arrow-right"></i></a>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>


     </div>
     <!-- hero slider end -->

     <!--  -->
     <div class="d-flex align-items-center justify-content-center bg-white container">
      <div class="feature-box d-flex flex-column flex-sm-row justify-content-between align-items-center w-100 max-w-5xl">
        <div class="feature-item d-flex flex-column flex-sm-row align-items-center text-center text-sm-left">
          <i class="fas fa-stopwatch"></i>
          <div>
            <h2>Fast</h2>
            <p>We are always on time</p>
          </div>
        </div>
        <div class="feature-item d-flex flex-column flex-sm-row align-items-center text-center text-sm-left">
          <i class="fas fa-shield-alt"></i>
          <div>
            <h2>Fully Insured</h2>
            <p>Our services are fully insured</p>
          </div>
        </div>
        <div class="feature-item d-flex flex-column flex-sm-row align-items-center text-center text-sm-left">
          <i class="fas fa-thumbs-up"></i>
          <div>
            <h2>Reliable</h2>
            <p>You can depend on us</p>
          </div>
        </div>
      </div>
    </div>


     <!-- about area -->
     <div class="about-area py-120">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="about-left">
                         <div class="about-img">
                             <img src="../../../assets/img/about/about.jpg" alt="">
                         </div>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="about-right">
                         <div class="site-heading mb-3">
                             <span class="site-title-tagline">About Us</span>
                             <h2 class="site-title">trusted and reliable for all your relocation needs</h2>
                         </div>
                         <p class="about-text">Moving Cheese Removal Ltd is your trusted and reliable partner, dedicated to making your relocation experience smooth and hassle-free.
                          We specialize in a comprehensive range of services, including seamless home and office relocations, expert house clearances, professional removal solutions, and meticulous packing and unpacking services. Whether you're moving across town or embarking on a long-distance journey, our team is
                          committed to ensuring every aspect of your move is handled with care, efficiency, and professionalism.</p>
                         <div class="about-list-wrapper">
                             <ul class="about-list list-unstyled">
                              <li>
                                <div class="icon"><span class="fas fa-check-circle"></span></div>
                                <div class="text">
                                    <p>We are always on time</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><span class="fas fa-check-circle"></span></div>
                                <div class="text">
                                    <p>Your belongings are secure</p>
                                </div>
                            </li>
                            <li>
                                <div class="icon"><span class="fas fa-check-circle"></span></div>
                                <div class="text">
                                    <p>You can depend on us</p>
                                </div>
                            </li>
                             </ul>
                         </div>
                         <a href="about" class="theme-btn">Discover More <i class="far fa-arrow-right"></i></a>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- about area end -->



     <!-- service area -->
     <div class="service-area bg py-120">
         <div class="shape-1"></div>
         <div class="shape-2"></div>
         <div class="container">
             <div class="row">
                 <div class="col-lg-6 mx-auto">
                     <div class="site-heading text-center">
                         <span class="site-title-tagline">Services</span>
                         <h2 class="site-title">Offered Services</h2>
                         <div class="heading-divider"></div>
                         <!-- <p>
                             It is a long established fact that a reader will be distracted by the readable content
                             of a page when looking at its layout.
                         </p> -->
                     </div>
                 </div>
             </div>
             <div class="row g-1">
                 <div class="col-md-6 col-lg-3">
                     <div class="service-item">
                         <div class="service-icon">
                             <i class="fal fa-map-marker-alt"></i>
                         </div>
                         <div class="service-icon-shadow"></div>
                         <h3 class="service-title">
                             <a href="home-removal">House Removals</a>
                         </h3>
                         <p class="service-text">
                          MOVING CHEESE REMOVAL offers professional, stress-free house removal services with a customer-focused approach
                          locally.
                         </p>
                         <div class="service-arrow">
                             <a href="home-removal" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                     <div class="service-item">
                         <div class="service-icon">
                          <i class="fal fa-route"></i>
                         </div>
                         <div class="service-icon-shadow"></div>
                         <h3 class="service-title">
                             <a href="office-removal">Office Removals</a>
                         </h3>
                         <p class="service-text">
                          We have been delivering seamless office removals and relocations in and around UK for years with outstanding results.
                         </p>
                         <div class="service-arrow">
                             <a href="office-removal" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                     <div class="service-item">
                         <div class="service-icon">
                          <i class="fal fa-boxes-alt"></i>
                         </div>
                         <div class="service-icon-shadow"></div>
                         <h3 class="service-title">
                             <a href="packing">Packing Service</a>
                         </h3>
                         <p class="service-text">
                          At MOVING CHESSE, we recognize that packing is among the most time-consuming and stressful parts of any move.
                         </p>
                         <div class="service-arrow">
                             <a href="packing" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
                         </div>
                     </div>
                 </div>
                 <div class="col-md-6 col-lg-3">
                     <div class="service-item">
                         <div class="service-icon">
                          <i class="fal fa-box-alt"></i>
                         </div>
                         <div class="service-icon-shadow"></div>
                         <h3 class="service-title">
                             <a href="unpacking">Unpacking Service</a>
                         </h3>
                         <p class="service-text">
                          Our unpacking service ensures a stress-free move by organizing your belongings and setting up essentials in your new space.
                         </p>
                         <div class="service-arrow">
                             <a href="unpacking" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- service area end -->





<app-counter></app-counter>


     <!-- faq area -->
     <div class="faq-area py-120">
         <div class="container">
             <div class="row">
                 <div class="col-lg-6">
                     <div class="faq-right">
                         <div class="site-heading mb-3">
                             <span class="site-title-tagline">Faq's</span>
                             <h2 class="site-title my-3">General frequently asked questions</h2>
                         </div>
                         <p class="about-text">We understand that moving can be both exciting and overwhelming, and you may have questions about how we can assist you in making the process as smooth as possible. Whether you're relocating to a new home or transitioning to a new office space, Moving Cheese Removal got you covered.</p>
                         <p> If you have inquiries not addressed in the FAQ, please click the button below to submit your question.</p>
                         <a href="contact" class="theme-btn mt-5">Ask Your Question <i class="far fa-arrow-right"></i></a>
                     </div>
                 </div>
                 <div class="col-lg-6">
                     <div class="accordion" id="accordionExample">
                         <div class="accordion-item">
                             <h2 class="accordion-header" id="headingOne">
                                 <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                     <span><i class="far fa-question"></i></span> What Areas In The UK Do You Cover ?
                                 </button>
                             </h2>
                             <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                 We cover Aberystwyth, Bedworth, Birmingham, Bridgnorth, Bristol, Cannock, Coventry, Daventry, Dudley, Kenilworth, Kidderminster, Lichfield, Llandrindrod Wells, London, Manchester, Nuneaton, Royal Leamington Spa, Rugby, Rugeley, Shrewsbury, Solihull, Stafford, Stourbridge, Stratford Upon Avon, Sutton Coldfield, Tamworth, Telford, Walsall, Warwick, Welshpool and Wolverhampton currently.
                                 </div>
                             </div>
                         </div>
                         <div class="accordion-item">
                             <h2 class="accordion-header" id="headingTwo">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                     <span><i class="far fa-question"></i></span> Can You Do All Of The Packing And Unpacking ?
                                 </button>
                             </h2>
                             <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                  Absolutely, we can assist you with this service if needed. We offer both a comprehensive packing service and a breakables-only option, each designed to be budget-friendly.
                                 </div>
                             </div>
                         </div>
                         <div class="accordion-item">
                             <h2 class="accordion-header" id="headingThree">
                                 <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                     <span><i class="far fa-question"></i></span> Are You An Insured Company ?
                                 </button>
                             </h2>
                             <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                                 <div class="accordion-body">
                                  Yes, we place significant importance on our insurance coverage to ensure that your belongings are fully safeguarded while in our care. We invest considerable time and effort into maintaining comprehensive insurance policies, giving you peace of mind that your items are protected from the moment they are entrusted to us until they reach their destination. Your trust and security are our top priorities.
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- faq area end -->



     <!-- choose area -->
     <div class="choose-area py-120">
         <div class="choose-img"></div>
         <div class="container">
             <div class="row align-items-center">
                 <div class="col-lg-6 offset-lg-6 choose-right">
                     <div class="choose-right-content">
                         <div class="site-heading mb-5">
                             <span class="site-title-tagline">Why Choose Us</span>
                             <h2 class="site-title text-white">We are Leading in Moving Business</h2>
                         </div>
                         <ul>
                             <li>
                                 <h5>Our experience</h5>
                                 <p>
                                  With years of expertise in residential and commercial relocations, we’ve built a reputation for making moving stress-free and efficient.
                                 </p>
                             </li>
                             <li>
                                 <h5>Insured Company</h5>
                                 <p>
                                  Rest easy knowing that we are a fully insured company, committed to protecting your valuables throughout the entire process. Your peace of mind is our top priority, ensuring a safe and secure experience every step of the way.
                                 </p>
                             </li>
                             <li>
                                 <h5>Fast and Reliable</h5>
                                 <p>
                                 We pride ourselves on delivering swift and dependable services tailored to meet your needs. With our dedicated team and efficient processes, you can trust us to get the job done right on time, every time.
                                 </p>
                             </li>
                         </ul>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- choose area end -->

     <app-how-it-works></app-how-it-works>


 <!-- testimonial-area -->
 <div class="testimonial-area testimonial-bg py-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-6 mx-auto">
              <div class="site-heading text-center">
                  <span class="site-title-tagline">Testimonials</span>
                  <h2 class="site-title text-white">What Client Say's</h2>
                  <div class="heading-divider"></div>
                  <p class="text-white">
                    Discover what our valued clients have to say about their experiences with us!
                     Here is how we have made a difference in their journeys.
                  </p>
              </div>
          </div>
      </div>
      <div class="testimonial-slider owl-carousel owl-theme">
          <div class="testimonial-single">
              <div class="testimonial-quote">
                  <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                  <p>
                    The guys worked quickly and meticulously. They were very friendly and did their job cleanly. The in-house live chat team was quick to help resolve the issues.
                    They provided a much more affordable price than other transportation companies.
                  </p>
              </div>
              <div class="testimonial-content">
                  <div class="testimonial-author-info">
                      <h4>Raime</h4>
                      <p>Customer</p>
                      <div class="testimonial-rate">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="testimonial-single">
              <div class="testimonial-quote">
                  <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                  <p>
                    We really appreciate how smoothly everything went, and your careful handling of our belongings didn’t go unnoticed. Thank you both for your efforts and for making our move a positive experience! Your professionalism and kindness made a difference.
                  </p>
              </div>
              <div class="testimonial-content">
                  <div class="testimonial-author-info">
                      <h4>KESAVEN</h4>
                      <p>Customer</p>
                      <div class="testimonial-rate">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="testimonial-single">
              <div class="testimonial-quote">
                  <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                  <p>
                    Service is top-notch! Booking is super easy. Shoutout to the team for being so easy and flexible to work with. We rarely encountered any issues with their service and they are one of our top choices for the most efficient and cost-effective service provider. Kudos!
                  </p>
              </div>
              <div class="testimonial-content">
                  <div class="testimonial-author-info">
                      <h4>Nicole</h4>
                      <p>Customer</p>
                      <div class="testimonial-rate">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                  </div>
              </div>
          </div>
          <div class="testimonial-single">
              <div class="testimonial-quote">
                  <span class="testimonial-quote-icon"><i class="fal fa-quote-right"></i></span>
                  <p>
                    We have used Moving Cheese Removal for all our big deliveries and they have always delivered the best service. The team is always happy to help and makes sure our jobs are completed promptly with all items handled with care. I highly recommend Moving Cheese Removal to anyone!
                  </p>
              </div>
              <div class="testimonial-content">
                  <div class="testimonial-author-info">
                      <h4>BC</h4>
                      <p>Customer</p>
                      <div class="testimonial-rate">
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                          <i class="fas fa-star"></i>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- testimonial-area end -->









 </main>


<app-footer></app-footer>

