<app-header></app-header>

<main>

       <!-- breadcrumb -->
       <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/breadcrumb.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Packing Service</h2>
            <ul class="breadcrumb-menu">
                <li><a href="">Home</a></li>
                <li class="active">Packing Service</li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb end -->


 <!-- home removal area -->
 <div class="about-area py-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="about-left">
                  <div class="about-img">
                      <img src="../../../assets/img/slider/slider-1.jpg" alt="">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-right">
                  <div class="site-heading mb-3">
                      <!-- <span class="site-title-tagline">About Us</span> -->
                      <h2 class="site-title">Seamless Packing With Moving Cheese</h2>
                  </div>
                  <p class="about-text">Looking for reliable and hassle-free packing services anywhere in the UK? Moving Cheese Removal is here to help. With years of experience, we’ve assisted countless customers in packing and getting ready for their moves with ease. Get in touch with us today for a free packing estimate. <br><br>

                    We know that preparing for a move can be overwhelming, so our mission is to simplify the packing process and take the stress out of your hands. <br><br>

                    Our team at Moving Cheese Removal combines expertise with professionalism, ensuring your items are packed with care and precision. Plus, we offer full insurance coverage for all our services, giving you extra confidence every step of the way.
                    </p>
                  <div class="about-list-wrapper">

                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
<!-- home removal area end -->

<app-how-it-works></app-how-it-works>

 <!-- about area -->
 <div class="about-area py-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
          <div class="about-right">
              <div class="site-heading mb-3">
                  <h2 class="site-title">ORGANIZING YOUR PACKING NEEDS</h2>
              </div>
              <p class="about-text">Organizing your packing is essential for a smooth relocation. With a trusted removal company, the process becomes far easier and more efficient. <br><br>

                At Moving Cheese Removal, we handle everything from securely packing your belongings to unpacking and organizing them in your new home. Whether it’s delicate items or heavy furniture, we ensure every detail is managed with care. <br><br>

                By relying on professionals, you save time, reduce stress, and avoid the risks of DIY moves. Let us make your transition seamless, so you can settle into your new home effortlessly.
                </p>
              <div class="about-list-wrapper">

              </div>
              <a href="quote" class="theme-btn">Packing Quote<i class="far fa-arrow-right"></i></a>
          </div>
          </div>
          <div class="col-lg-6">
              <div class="about-left">
                  <div class="about-img">
                      <img src="../../../assets/img/slider/slider-2.jpg" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- about area end -->

<!-- service area -->
<div class="service-area bg py-120">
  <div class="shape-1"></div>
  <div class="shape-2"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="site-heading text-center">
          <!-- <span class="site-title-tagline">Services</span> -->
          <h2 class="site-title">Other Services</h2>
          <div class="heading-divider"></div>
        </div>
      </div>
    </div>
    <div class="row g-1 justify-content-center align-items-center text-center">
      <div class="col-md-6 col-lg-3">
        <div class="service-item">
          <div class="service-icon">
            <i class="fal fa-route"></i>
          </div>
          <div class="service-icon-shadow"></div>
          <h3 class="service-title">
            <a href="office-removal">Office Removals</a>
          </h3>
          <p class="service-text">
            We have been delivering seamless office removals and relocations in and around the UK for years with outstanding results.
          </p>
          <div class="service-arrow">
            <a href="office-removal" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-item">
            <div class="service-icon">
                <i class="fal fa-map-marker-alt"></i>
            </div>
            <div class="service-icon-shadow"></div>
            <h3 class="service-title">
                <a href="home-removal">House Removals</a>
            </h3>
            <p class="service-text">
             MOVING CHEESE REMOVAL offers professional, stress-free house removal services with a customer-focused approach
             locally.
            </p>
            <div class="service-arrow">
                <a href="home-removal" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
            </div>
        </div>
    </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-item">
          <div class="service-icon">
            <i class="fal fa-box-alt"></i>
          </div>
          <div class="service-icon-shadow"></div>
          <h3 class="service-title">
            <a href="unpacking">Unpacking Service</a>
          </h3>
          <p class="service-text">
            Our unpacking service ensures a stress-free move by organizing your belongings and setting up essentials in your new space.
          </p>
          <div class="service-arrow">
            <a href="unpacking" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- service area end -->


</main>
<app-footer></app-footer>

