<app-header></app-header>



  <main class="main">

      <!-- breadcrumb -->
      <div class="site-breadcrumb" style="background: url(../../../assets/img/breadcrumb/breadcrumb.jpg)">
          <div class="container">
              <h2 class="breadcrumb-title">About Us</h2>
              <ul class="breadcrumb-menu">
                  <li><a href="">Home</a></li>
                  <li class="active">About Us</li>
              </ul>
          </div>
      </div>
      <!-- breadcrumb end -->



      <!-- about area -->
      <div class="about-area py-120">
          <div class="container">
              <div class="row">
                  <div class="col-lg-6">
                      <div class="about-left">
                          <div class="about-img">
                              <img src="../../../assets/img/about/about.jpg" alt="">
                          </div>
                      </div>
                  </div>
                  <div class="col-lg-6">
                      <div class="about-right">
                          <div class="site-heading mb-3">
                              <span class="site-title-tagline">About Us</span>
                              <h2 class="site-title">Moving Cheese Removal History</h2>
                          </div>
                          <p class="about-text">The brand "Moving Cheese Removal Ltd" was inspired by the allegorical tale in the book "who moved
                            my cheese' by Dr Spencer Johnson that tells a story of change in the workplace and the ability to
                            adapt quickly and welcome change. The primary objective of our business endeavor is to provide a trustworthy and unique moving service in the UK—one that exceeds your expectations. We have handpicked the best drivers for our moving vehicles and the best removalist specialists for making your moving experience absolutely smooth and stress-free.
                            </p>
                          <div class="about-list-wrapper">

                          </div>
                          <a href="contact" class="theme-btn">Contact Us <i class="far fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- about area end -->


    <app-counter></app-counter>


       <!-- What We Represent area -->
       <div class="about-area py-120">
        <div class="container">
            <div class="row">

                <div class="col-lg-12">
                    <div class="about-right">
                        <div class="site-heading mb-3">
                            <span class="site-title-tagline">Our Values</span>
                            <h2 class="site-title">What We Represent</h2>
                        </div>
                        <p class="about-text">
                          Moving Cheese Removal Ltd as a company represent change. <br><br>
                          As a moving company we help people move their possessions from one place to another, which
                          involves letting go of attachment to old residence etc. Overcoming fear and the "what if's" , taking
                          action and embracing change in anticipation of new things to come without clinging to past things.

                          The brand having been inspired by the book "who moved my cheese" by Doc Spencer Johnson is similar to the brand's theme in many ways and just like there is a process
                          involved in the book ,when the book characters had to search for a new cheese, there is also a
                          process involved in moving properties too (packing, loading, transporting and offloading) and there is
                          also planning(people have to book and plan in advance with us) same as depicted in the book too(the
                          book characters have to plan for a new cheese). <br><br>


                          </p>
                        <div class="about-list-wrapper">
                            <ul class="about-list list-unstyled">
                                <li>
                                    <div class="icon"><span class="fas fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>We are always on time.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="fas fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>Your belongings are secure.</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon"><span class="fas fa-check-circle"></span></div>
                                    <div class="text">
                                        <p>You can depend on us.</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <a href="about.html" class="theme-btn">Discover More <i class="far fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- What We Represent area end -->



  <!-- why we area -->
  <div class="about-area py-60 why-we">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
              <div class="about-right">
                <div class="site-heading mb-3">
                    <span class="site-title-tagline">Choose Us</span>
                    <h2 class="site-title">Why we?</h2>
                </div>

                <div class="about-list-wrapper">
                  <ul class="about-list list-unstyled">
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                          <p>Residential and commercial removals.</p>
                      </div>
                  </li>
                    <li>
                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                        <div class="text">
                            <p>We use state of the art vehicles of various sizes, kept in impeccable conditions available whenever they are needed.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                        <div class="text">
                            <p>We are available all 7 days a week.</p>
                        </div>
                    </li>
                    <li>
                        <div class="icon"><span class="fas fa-check-circle"></span></div>
                        <div class="text">
                            <p>We pride ourselves on the quality of service that we provide with the help of high-quality removal vehicles that are kept at the pick of the condition at any given point in time.</p>
                        </div>
                    </li>
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                          <p>Friendly and professional staff to help you.</p>
                      </div>
                    </li>
                    <li>
                      <div class="icon"><span class="fas fa-check-circle"></span></div>
                      <div class="text">
                          <p>Local property moves, helping you transfer your items between UK houses.</p>
                      </div>
                    </li>
                </ul>
                </div>

            </div>

            </div>
            <div class="col-lg-6">
              <div class="about-left">
                <div class="about-img">
                    <img src="../../../assets/img/about/why-us.jpg" alt="">
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
<!-- why we area end -->



  </main>




<app-footer></app-footer>


