   <!-- process area -->
   <div class="process-area py-120">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="site-heading text-center">
                    <span class="site-title-tagline">Working Process</span>
                    <h2 class="site-title">How It Works</h2>
                    <div class="heading-divider"></div>
                    <p>
                      Our team handles everything from packing to delivery, ensuring a seamless experience. We make your move stress-free every step of the way.
                    </p>
                </div>
            </div>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>01</span>
                        <i class="fal fa-calendar-check"></i>
                    </div>
                    <h4>Book Your Service</h4>
                    <p>Simply request a quote, and we'll provide a tailored moving or storage solution designed to fit your needs and budget.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>02</span>
                        <i class="fal fa-truck-loading"></i>
                    </div>
                    <h4>Pack And Load</h4>
                    <p>Let our professional team handle the heavy lifting with precision and care. From packing fragile items to securely loading your belongings, we ensure a seamless and stress-free moving experience.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>03</span>
                        <i class="fal fa-truck-container"></i>
                    </div>
                    <h4>Transportation</h4>
                    <p>We use state of the art vehicles of various sizes, kept in impeccable conditions available whenever they are needed.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center mb-30">
                <div class="process-single">
                    <div class="icon">
                        <span>04</span>
                        <i class="fal fa-hand-holding-box"></i>
                    </div>
                    <h4>Safe Delivery</h4>
                    <p>We make sure to handle your business with utmost care and reduce risk at a minimal because we believe that change starts with us.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- process area end -->
