<app-header></app-header>

<main>

       <!-- breadcrumb -->
       <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/breadcrumb.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">Home Removals</h2>
            <ul class="breadcrumb-menu">
                <li><a (click)="navigateToHome()">Home</a></li>
                <li class="active">Home Removals</li>
            </ul>
        </div>
    </div>
    <!-- breadcrumb end -->


 <!-- home removal area -->
 <div class="about-area py-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="about-left">
                  <div class="about-img">
                      <img src="../../../assets/img/gallery/house.jpeg" alt="">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-right">
                  <div class="site-heading mb-3">
                      <!-- <span class="site-title-tagline">About Us</span> -->
                      <h2 class="site-title">Seamless Home Removal With Moving Cheese</h2>
                  </div>
                  <p class="about-text">If you're seeking a smooth and hassle-free home removal service in the UK, look no further than Moving Cheese Removal. With years of experience, we've successfully assisted thousands of satisfied clients in their home relocation journeys. Reach out to us today for a free moving quote. <br><br>

                    We recognize that moving homes is a significant milestone, which is why we are committed to making the process as seamless and stress-free as possible. <br><br>

                    At Moving Cheese Removal, our staff is not only highly trained but also courteous and efficient, ensuring that your move is as smooth as possible. To provide you with additional peace of mind, we offer comprehensive insurance coverage for all our services.
                    </p>
                  <div class="about-list-wrapper">

                  </div>

              </div>
          </div>
      </div>
  </div>
</div>
<!-- home removal area end -->

<app-how-it-works></app-how-it-works>

 <!-- about area -->
 <div class="about-area py-120">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
          <div class="about-right">
              <div class="site-heading mb-3">
                  <h2 class="site-title">PLANNING YOUR HOME REMOVAL</h2>
              </div>
              <p class="about-text">Relocating to a new home can be a daunting and overwhelming task, which is why it’s crucial to choose a reliable and trustworthy removals service that can handle the job with ease. <br><br>

                At Moving Cheese Removal, we are committed to delivering exceptional service and exceeding your expectations. Our experienced team handles every aspect of your move with care, from packing to loading and unloading, ensuring the safety and smooth execution of your relocation. <br><br>

                A professional home removals service saves time, money, and stress. DIY moves often lead to unexpected costs and delays. Let the experts ensure a smooth, efficient relocation.
                </p>
              <div class="about-list-wrapper">

              </div>
              <a (click)="navigateToQuote()" class="theme-btn">Home Removal Quote<i class="far fa-arrow-right"></i></a>
          </div>
          </div>
          <div class="col-lg-6">
              <div class="about-left">
                  <div class="about-img">
                      <img src="../../../assets/img/gallery/house2.webp" alt="">
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- about area end -->

<!-- service area -->
<div class="service-area bg py-120">
  <div class="shape-1"></div>
  <div class="shape-2"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mx-auto">
        <div class="site-heading text-center">
          <!-- <span class="site-title-tagline">Services</span> -->
          <h2 class="site-title">Other Services</h2>
          <div class="heading-divider"></div>
        </div>
      </div>
    </div>
    <div class="row g-1 justify-content-center align-items-center text-center">
      <div class="col-md-6 col-lg-3">
        <div class="service-item">
          <div class="service-icon">
            <i class="fal fa-route"></i>
          </div>
          <div class="service-icon-shadow"></div>
          <h3 class="service-title">
            <a (click)="navigateToOffice()">Office Removals</a>
          </h3>
          <p class="service-text">
            We have been delivering seamless office removals and relocations in and around UK for years with outstanding results.
          </p>
          <div class="service-arrow">
            <a (click)="navigateToOffice()" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-item">
          <div class="service-icon">
            <i class="fal fa-boxes-alt"></i>
          </div>
          <div class="service-icon-shadow"></div>
          <h3 class="service-title">
            <a (click)="navigateToPacking()">Packing Service</a>
          </h3>
          <p class="service-text">
            At MOVING CHESSE, we recognize that packing is among the most time-consuming and stressful parts of any move.
          </p>
          <div class="service-arrow">
            <a (click)="navigateToPacking()" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3">
        <div class="service-item">
          <div class="service-icon">
            <i class="fal fa-box-alt"></i>
          </div>
          <div class="service-icon-shadow"></div>
          <h3 class="service-title">
            <a (click)="navigateToUnpacking()">Unpacking Service</a>
          </h3>
          <p class="service-text">
            Our unpacking service ensures a stress-free move by organizing your belongings and setting up essentials in your new space.
          </p>
          <div class="service-arrow">
            <a (click)="navigateToUnpacking()" class="theme-btn">Read More <span class="far fa-arrow-right"></span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- service area end -->


</main>
<app-footer></app-footer>

