<app-header></app-header>


  <main class="main">

      <!-- breadcrumb -->
      <div class="site-breadcrumb" style="background: url(assets/img/breadcrumb/breadcrumb.jpg)">
          <div class="container">
              <h2 class="breadcrumb-title">Request Quote</h2>
              <ul class="breadcrumb-menu">
                  <li><a href="">Home</a></li>
                  <li class="active">Request Quote</li>
              </ul>
          </div>
      </div>
      <!-- breadcrumb end -->




      <app-how-it-works></app-how-it-works>



      <!-- quote area -->
      <app-get-quote></app-get-quote>
      <!-- quote area end -->

 

  </main>




  <app-footer></app-footer>


