

<div class="container my-4">
  <h2 class="mb-4">Contact Form Dashboard</h2>
  <button class="clear-form-btn btn mb-4">Clear Tasks</button>
  <div class="row" style="display: flex; flex-wrap: wrap; flex-direction: row;"  *ngFor="let data of contactData">
      <div class="row1">
          <div class="card shadow-sm">
              <div class="card-header">
                  <h3 class="h5">{{ data.name }}</h3>
                  <button title="Delete" class="delete-btn btn btn-link p-0">
                    <button (click)="toggleContactConfirmDialog(data.id)" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
                  </button>
              </div>
              <div class="card-body">
                  <p><b>Name: </b></p>
                  <p><b>Email: </b>{{ data.email }}</p>
                  <p><b>Subject: </b> {{ data.subject }}</p>
                  <p><b>Message: </b>{{ data.message }}</p>
                  <p><b>Date: </b>{{ data.date }}</p>
              </div>
          </div>
                     <!-- Confirmation Dialog -->
                     <div class="confirm-dialog-backdrop" *ngIf="showContactConfirmDialog">
                      <div class="confirm-dialog">
                        <div class="confirm-dialog-header">
                          <h2>Delete Record</h2>
                        </div>
                        <div class="confirm-dialog-body">
                          <p>Are you sure you want to delete this record? This action cannot be undone.</p>
                        </div>
                        <div class="confirm-dialog-footer">
                          <button class="confirm-btn" (click)="confirmContactDelete()">Yes, Delete</button>
                          <button class="cancel-btn" (click)="cancelContactDelete()">Cancel</button>
                        </div>
                      </div>
                    </div>
      </div>

  </div>
  <h2 class="mt-5 mb-4">Quote Form Submissions</h2>
  <button class="clear-form-btn btn mb-4">Clear Tasks</button>
  <div class="row g-4" *ngFor="let data of formData">
      <div class="row1">
          <div class="card shadow-sm">
              <div class="card-header">
                  <h3 class="h5">{{ data.name }}</h3>
                  <button title="Delete" class="delete-btn btn btn-link p-0">
                    <button (click)="toggleConfirmDialog(data.id)" class="btn btn-danger shadow btn-xs sharp"><i class="fa fa-trash"></i></button>
                  </button>
              </div>
              <div class="card-body">
                  <p><b>Name: </b>{{ data.name }}</p>
                  <p><b>Email: </b>{{ data.email }}</p>
                  <p><b>Phone No: </b>{{ data.phone }}</p>
                  <p><b>Moving Type: </b>{{ data.movingType }}</p>
                  <p><b>Move Date: </b>{{ data.moveDate }}</p>
                  <p><b>Moving From: </b>{{ data.movingFrom }}</p>
                  <p><b>Moving To: </b>{{ data.movingTo }}</p>
                  <p><b>Inventory: </b>{{data.inventory}}</p>
                  <p><b>Message: </b>{{ data.message }}</p>
                  <p><b>Date: </b>{{ data.date }}</p>
              </div>
          </div>

  <!-- Confirmation Dialog -->
          <div class="confirm-dialog-backdrop"  *ngIf="showConfirmDialog">
            <div class="confirm-dialog">
              <div class="confirm-dialog-header">
                <h2>Delete Record</h2>
              </div>
              <div class="confirm-dialog-body">
                <p>Are you sure you want to delete this record? This action cannot be undone.</p>
              </div>
              <div class="confirm-dialog-footer">
                <button class="confirm-btn" (click)="confirmDelete()">Yes, Delete</button>
                <button class="cancel-btn" (click)="cancelDelete()">No</button>
              </div>
            </div>
          </div>

      </div>
  </div>
</div>
