<div class="banner">
  <h2>NEED HELP? CALL OR CHAT OUR FRIENDLY REMOVALS TEAM ON: <span class="phone-number">+44 771 5886 630</span></h2>
  <a href="tel:+447715886630" class="theme-btn">Call<i
    class="far fa-arrow-right"></i></a> &nbsp;&nbsp;&nbsp;
<a href="https://wa.me/447715886630" class="theme-btn theme-btn2">Chat<i
    class="far fa-arrow-right"></i></a>
</div>


 <!-- footer area -->
 <footer class="footer-area">
  <div class="footer-widget">
      <div class="container">
          <div class="row footer-widget-wrapper pt-100 pb-70">
              <div class="col-md-6 col-lg-4">
                  <div class="footer-widget-box about-us">
                    <div class="col-lg-3">
                      <a (click)="navigateToHome()" class="logo">
                        <div class="d-flex align-items-center">
                          <img alt="Red and white moving truck illustration" class="img-fluid" src="../../../../assets/img/logo/logo1.png" style="height: 64px;"/>
                          <div class="d-flex flex-column ml-3">
                           <div class="d-flex">
                            <span class="logo-text text-red h4 mb-0">
                             MOVING
                            </span>
                            <span class="logo-text text-red h4 mb-0 ml-2">
                              &nbsp;CHEESE
                            </span>
                           </div>
                           <span class="logo-text text-white h4">
                            REMOVAL
                           </span>
                          </div>
                         </div>
                      </a>
                  </div>
                      <p class="mb-20">
                        Moving Cheese Removal Ltd does not only recommend change,with years worth of experience
                          we make sure to handle your business with utmost care and reduce risk at a minimal because we
                          believe that change starts with us.
                       <!-- As a moving company, we make sure to handle your business with utmost care and reduce risk at a minimal because we believe that change starts with us. -->
                      </p>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget-box">
                      <h4 class="footer-widget-title">Contact Us</h4>
                      <ul class="footer-contact">
                          <li><i class="far fa-map-marker-alt"></i>Apartment 4 crouch court 6 Tanner's way Birmingham B29 6GU.</li>
                          <li><a href="tel:+447715886630"><i class="far fa-phone"></i>+44 771 5886 630</a></li>
                          <li><a href="mailto:info@movingcheeseremoval.co.uk"><i class="far fa-envelope"></i>info@movingcheeseremoval.co.uk</a>
                          </li>
                          <li><i class="far fa-clock"></i>Mon - Sun (24/7)</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-2">
                  <div class="footer-widget-box list">
                      <h4 class="footer-widget-title">Quick Links</h4>
                      <ul class="footer-list">
                          <li><a (click)="navigateToAbout()"><i class="fas fa-caret-right"></i> About Us</a></li>
                          <li><a (click)="navigateToQuote()"><i class="fas fa-caret-right"></i> Quote</a></li>
                          <li><a (click)="navigateToHouse()"><i class="fas fa-caret-right"></i> House Removal</a></li>
                          <li><a (click)="navigateToOffice()"><i class="fas fa-caret-right"></i> Office Removal</a></li>
                          <li><a (click)="navigateToPacking()"><i class="fas fa-caret-right"></i> Packing and Unpacking</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget-box list">
                      <h4 class="footer-widget-title">Our Socials</h4>
                      <div class="footer-newsletter">
                          <p>Follow us on social media for updates, insights, and the latest moving tips!</p>
                          <div class="subscribe-form">
                            <ul class="footer-social">
                              <li><a href="https://www.facebook.com/profile.php?id=61572225287377" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                              <li><a href="https://www.instagram.com/movingcheeseremoval?igsh=aHNzNngzajBpZXps&utm_source=qr" target="_blank"><i class="fab fa-instagram"></i></a></li>
                              <li><a href="https://www.linkedin.com/in/moving-cheese-removal-22279334a/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                              <li><a href="https://www.tiktok.com/@moving_cheese_removal_" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                          </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</footer>
<!-- footer area end -->

<!-- scroll-top -->
 <div style="float: left; ">
  <a id="whatsapp" class="whatsapp" href="https://wa.me/447715886630"><i class="fab fa-whatsapp"></i></a>
 </div>



