<div class="banner">
  <h2>NEED HELP? CALL OUR FRIENDLY REMOVALS TEAM ON: <span class="phone-number">+44 748 2162 645</span></h2>
  <a href="quote" class="theme-btn">Get Quote<i
    class="far fa-arrow-right"></i></a> &nbsp;&nbsp;&nbsp;
<a href="contact" class="theme-btn theme-btn2">Contact Us<i
    class="far fa-arrow-right"></i></a>
</div>


 <!-- footer area -->
 <footer class="footer-area">
  <div class="footer-widget">
      <div class="container">
          <div class="row footer-widget-wrapper pt-100 pb-70">
              <div class="col-md-6 col-lg-4">
                  <div class="footer-widget-box about-us">
                    <div class="col-lg-3">
                      <a href="" class="logo">
                        <div class="d-flex align-items-center">
                          <img alt="Red and white moving truck illustration" class="img-fluid" src="../../../../assets/img/logo/logo1.png" style="height: 64px;"/>
                          <div class="d-flex flex-column ml-3">
                           <div class="d-flex">
                            <span class="logo-text text-red h4 mb-0">
                             MOVING
                            </span>
                            <span class="logo-text text-red h4 mb-0 ml-2">
                              &nbsp;CHEESE
                            </span>
                           </div>
                           <span class="logo-text text-white h4">
                            REMOVAL
                           </span>
                          </div>
                         </div>
                      </a>
                  </div>
                      <p class="mb-20">
                       As a moving company, we make sure to handle your business with utmost care and reduce risk at a minimal because we believe that change starts with us.
                      </p>
                      <ul class="footer-social">
                          <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                          <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                          <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                          <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget-box">
                      <h4 class="footer-widget-title">Contact Us</h4>
                      <ul class="footer-contact">
                          <li><i class="far fa-map-marker-alt"></i>Apartment 4 crouch court 6 Tanner's way Birmingham B29 6GU.</li>
                          <li><a href="tel:+21236547898"><i class="far fa-phone"></i>+44 748 2162 645</a></li>
                          <li><a href="mailto:info@example.com"><i class="far fa-envelope"></i>example@gmail.com</a>
                          </li>
                          <li><i class="far fa-clock"></i>Mon - Sun (24/7)</li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-2">
                  <div class="footer-widget-box list">
                      <h4 class="footer-widget-title">Quick Links</h4>
                      <ul class="footer-list">
                          <li><a href="about"><i class="fas fa-caret-right"></i> About Us</a></li>
                          <li><a href="quote"><i class="fas fa-caret-right"></i> Quote</a></li>
                          <li><a href="home-removal"><i class="fas fa-caret-right"></i> House Removal</a></li>
                          <li><a href="office-removal"><i class="fas fa-caret-right"></i> Office Removal</a></li>
                          <li><a href="packing"><i class="fas fa-caret-right"></i> Packing and Unpacking</a></li>
                      </ul>
                  </div>
              </div>
              <div class="col-md-6 col-lg-3">
                  <div class="footer-widget-box list">
                      <h4 class="footer-widget-title">Newsletter</h4>
                      <div class="footer-newsletter">
                          <p>Subscribe Our Newsletter To Get Latest Update And News</p>
                          <div class="subscribe-form">
                              <form action="#">
                                  <input type="email" class="form-control" placeholder="Your Email">
                                  <button class="theme-btn" type="submit">
                                      <i class="far fa-paper-plane"></i> Subscribe Now
                                  </button>
                              </form>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

</footer>
<!-- footer area end -->




<!-- scroll-top -->
<a id="scroll-top" style="display: none;"><i class="far fa-long-arrow-up"></i></a>
<!-- scroll-top end -->
