
<!-- header area -->
<header class="header">
  <!-- middle header -->
  <div class="middle-header">
      <div class="container">
          <div class="row">
              <div class="col-lg-3">
                  <a href="" class="logo">
                    <div class="d-flex align-items-center">
                      <img alt="Red and white moving truck illustration" class="img-fluid" src="../../../../assets/img/logo/logo1.png" style="height: 64px;"/>
                      <div class="d-flex flex-column ml-3">
                       <div class="d-flex">
                        <span class="logo-text text-red h4 mb-0">
                         MOVING
                        </span>
                        <span class="logo-text text-red h4 mb-0 ml-2">
                          &nbsp;CHEESE
                        </span>
                       </div>
                       <span class="logo-text text-black h4">
                        REMOVAL
                       </span>
                      </div>
                     </div>
                  </a>
              </div>
              <div class="col-lg-9">
                  <div class="middle-contact-info">
                      <div class="middle-item">
                          <div class="middle-item-icon"><i class="far fa-phone"></i></div>
                          <div class="middle-item-content">
                              <p> +44 748 2162 645</p>
                          </div>
                      </div>
                      <div class="middle-item">
                          <div class="middle-item-icon"><i class="far fa-envelope-open"></i></div>
                          <div class="middle-item-content">
                              <p><a href="mailto:info@gmail.com">gmail.com</a></p>
                          </div>
                      </div>
                      <div class="middle-item">
                          <div class="middle-item-icon"><i class="far fa-map-marker-alt"></i></div>
                          <div class="middle-item-content">
                              <p>Tanner's way <br>Birmingham B29 6GU.</p>
                          </div>
                      </div>
                      <div class="middle-social">
                          <a href="#"><i class="fab fa-facebook-f"></i></a>
                          <a href="#"><i class="fab fa-twitter"></i></a>
                          <a href="#"><i class="fab fa-instagram"></i></a>
                          <a href="#"><i class="fab fa-linkedin-in"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="main-navigation">
      <nav class="navbar navbar-expand-lg">
          <div class="container" >
              <a href="" class="logo hide-logo">
                <div class="d-flex align-items-center">
                  <img alt="logo" class="img-fluid" src="../../../../assets/img/logo/logo1.png" style="height: 64px;"/>
                  <div class="d-flex flex-column ml-3">
                   <div class="d-flex">
                    <span class="logo-text text-red h4 mb-0">
                     MOVING
                    </span>
                    <span class="logo-text text-red h4 mb-0 ml-2">
                      &nbsp;CHEESE
                    </span>
                   </div>
                   <span class="logo-text text-black h4">
                    REMOVAL
                   </span>
                  </div>
                 </div>
              </a>
              <div class="mobile-menu-right">
                  <!-- Simplified Hamburger Icon -->
                  <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                      data-bs-target="#main_nav" aria-expanded="false" aria-label="Toggle navigation">
                      <i class="far fa-stream"></i>
                  </button>
              </div>
              <div class="collapse navbar-collapse" id="main_nav">
                  <ul class="navbar-nav">
                      <li class="nav-item"><a class="nav-link" href="">Home</a></li>
                      <li class="nav-item"><a class="nav-link" href="about"> About </a></li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">Removal Service</a>
                        <ul class="dropdown-menu fade-up">
                            <li><a class="dropdown-item" href="home-removal">House Removals</a></li>
                            <li><a class="dropdown-item" href="office-removal">Office Removal</a></li>
                            <li><a class="dropdown-item" href="packing">Packing Service</a></li>
                            <li><a class="dropdown-item" href="unpacking">Unpacking Service</a></li>
                        </ul>
                      </li>
                      <li class="nav-item dropdown"><a class="nav-link" href="quote">Quote</a></li>
                      <li class="nav-item"><a class="nav-link" href="contact">Contact</a></li>
                  </ul>
                  <div class="header-nav-right">
                      <!-- <div class="header-nav-search">
                          <a href="#" class="search-box-outer"><i class="far fa-search"></i></a>
                      </div> -->
                      <div class="header-btn">
                          <a href="quote" class="theme-btn">GET QUOTE<i class="far fa-arrow-right"></i></a>
                      </div>
                  </div>
              </div>
          </div>
      </nav>
  </div>
</header>
<!-- header area end -->
